@charset "utf-8";

/* foundation */
@use 'foundation/_destyle.scss';
@use 'foundation/_base.scss';

/* layout */
@use 'layout/_baselayout.scss';
@use 'layout/_header.scss';
@use 'layout/_main.scss';
@use 'layout/_footer.scss';
@use 'layout/_grid.scss';
@use 'layout/_flex.scss';

/* object/component */
@use 'object/component/_button.scss';
@use 'object/component/_heading.scss';
@use 'object/component/_paragraph.scss';
@use 'object/component/_tooltip.scss';
@use 'object/component/_pagetop.scss';
@use 'object/component/_top-icon.scss';

/* object/project */
@use 'object/project/_about-swiper.scss';
@use 'object/project/_ability.scss';
@use 'object/project/_aside.scss';
@use 'object/project/_card.scss';
@use 'object/project/_mv.scss';
@use 'object/project/_map.scss';
@use 'object/project/_profile.scss';
@use 'object/project/_share.scss';
@use 'object/project/_top-articles.scss';
@use 'object/project/_top-info.scss';
@use 'object/project/_top-map.scss';

/* object/utility */
@use 'object/utility/_spacing.scss';
@use 'object/utility/_position.scss';

.sr-only {
	position: absolute !important;
	width: 1px;
	height: 1px;
	padding: 0;
	margin: 0;
	overflow: hidden;

	/* IE6, IE7 - a 0 height clip, off to the bottom right of the visible 1px box */
	clip: rect(1px 1px 1px 1px);

	/* maybe deprecated but we need to support legacy browsers */
	clip: rect(1px, 1px, 1px, 1px);

	/* modern browsers, clip-path works inwards from each corner */
	clip-path: inset(50%);

	/* added line to stop words getting smushed together (as they go onto seperate lines and some screen readers do not understand line feeds as a space */
	white-space: nowrap;
	border: 0;
}

.c-br-sm {
	display: none;

	@media screen and (max-width: 640px) {
		display: block;
	}
}
