@use '../../foundation/_base.scss' as *;

.c-button {
	display: inline-flex;
	align-items: center;
	justify-content: space-between;
	width: 100%;
	min-width: 72px;
	max-width: 400px;
	padding: 20px 50px;
	font-size: $font-size-x-large;
	font-weight: $font-weight-bold;
	background-color: $yellow;
	border-radius: 50vh;
	transition: transform 0.3s ease-in;
	transform: translateX(0%);

	@media screen and (max-width: 768px) {
		min-width: 48px;
		padding: 16px 24px;
		font-size: $font-size-large;
	}

	&:hover {
		.c-button__arrow {
			transition: transform 0.3s ease-out;
			transform: translateX(10%);
		}
	}

	&.c-button__reverse {
		flex-direction: row-reverse;
		gap: 48px;
		padding: 20px 80px;
		background-color: transparent;
		border: 1px solid $yellow;

		.c-button__arrow {
			transform: rotate(180deg);
		}

		&:hover {
			.c-button__arrow {
				transition: transform 0.3s ease-out;
				transform: rotate(180deg) translateX(10%);
			}
		}
	}
}

.c-button__arrow {
	img {
		vertical-align: middle;
	}
}
