@use '../../foundation/_base.scss' as *;

.c-button {
	position: relative;
	display: inline-flex;
	align-items: center;
	justify-content: space-between;
	width: 100%;
	min-width: 72px;
	max-width: 400px;
	padding: 20px 50px;
	font-size: $font-size-x-large;
	font-weight: $font-weight-bold;
	background-color: $yellow;
	border-radius: 50vh;
	transition: transform 0.3s ease-in;
	transform: translateX(0%);

	&::before {
		position: absolute;
		top: 0;
		left: 0;
		z-index: -1;
		width: 100%;
		height: 100%;
		content: '';
		border: 4px solid $yellow;
		border-radius: 50vh;
		opacity: 0;
	}

	@media screen and (max-width: 768px) {
		min-width: 48px;
		padding: 16px 24px;
		font-size: $font-size-large;
	}

	@media (hover: hover) {
		&:hover {
			background-color: $white;
			transition: color 0.3s ease-out;

			&::before {
				opacity: 1;
				transition: opacity 0.3s ease-out;
			}

			.c-button__arrow {
				transition: transform 0.3s ease-out;
				transform: translateX(10%);
			}
		}
	}

	&.c-button__reverse {
		flex-direction: row-reverse;
		gap: 48px;
		padding: 20px 80px;
		background-color: transparent;
		border: 1px solid $yellow;

		.c-button__arrow {
			transform: rotate(180deg);
		}

		&:hover {
			.c-button__arrow {
				transition: transform 0.3s ease-out;
				transform: rotate(180deg) translateX(10%);
			}
		}

		@media (hover: hover) {
			&:hover {
				background-color: $yellow;
				transition: color 0.3s ease-out;

				.c-button__arrow {
					transition: transform 0.3s ease-out;
					transform: rotate(180deg) translateX(10%);
				}
			}
		}
	}
}

.c-button__arrow {
	img {
		vertical-align: middle;
	}
}
