@use '../../foundation/_base.scss' as *;

.c-heading-h1,
.c-heading-h2 {
	position: relative;
	display: flex;
	gap: 16px;
	align-items: center;
	width: fit-content;
	font-size: $font-size-xx-large;
	font-weight: $font-weight-black;
	white-space: nowrap;

	@media screen and (max-width: 768px) {
		font-size: $font-size-large;
	}

	&::after {
		position: absolute;
		bottom: 0;
		left: 50%;
		z-index: -1;
		display: inline-flex;
		width: calc(100% - 8px);
		height: 10px;
		content: '';
		background-color: $yellow;
		transform: translateX(-50%);
	}

	&.c-heading-h1--none,
	&.c-heading-h2--none {
		&::after {
			display: none;
		}
	}

	.c-heading-h1__icon,
	.c-heading-h2__icon {
		position: absolute;
		top: 50%;
		right: -64px;
		transform: translateY(-50%);

		@media screen and (max-width: 768px) {
			img {
				width: 50%;
			}
		}
	}

	.c-shiten__logo {
		max-width: 60%;
	}

	&.c-heading-h1__icon--info,
	&.c-heading-h2__icon--info {
		.c-heading-h1__icon,
		.c-heading-h2__icon {
			right: 0;
		}

		&::after {
			left: 40%;
			width: calc(100% - 80px);
		}

		@media screen and (max-width: 768px) {
			.c-heading-h1__icon,
			.c-heading-h2__icon {
				right: 16px;
			}

			&::after {
				bottom: 10px;
				left: 45%;
				width: calc(100% - 30px);
			}
		}
	}
}

.c-heading-h3 {
	font-size: $font-size-x-large;
	font-weight: $font-weight-black;
}

.c-heading-h4 {
	font-size: $font-size-large;
	font-weight: $font-weight-black;
}
