@use '../../foundation/_base.scss' as *;

.c-heading__h2 {
	position: relative;
	display: flex;
	align-items: center;
	gap: 16px;
	width: fit-content;
	font-size: $font-size-xx-large;
	font-weight: $font-weight-black;
	white-space: nowrap;

	&::after {
		content: '';
		display: inline-flex;
		width: calc(100% - 8px);
		height: 10px;
		position: absolute;
		left: 50%;
		bottom: 0px;
		background-color: $yellow;
		transform: translateX(-50%);
		z-index: -1;
	}
}
