@use '../../foundation/_base.scss' as *;

.c-heading-h2 {
	position: relative;
	display: flex;
	gap: 16px;
	align-items: center;
	width: fit-content;
	font-size: $font-size-xx-large;
	font-weight: $font-weight-black;
	white-space: nowrap;

	&::after {
		position: absolute;
		bottom: 0;
		left: 50%;
		z-index: -1;
		display: inline-flex;
		width: calc(100% - 8px);
		height: 10px;
		content: '';
		background-color: $yellow;
		transform: translateX(-50%);
	}

	.c-heading-h2__icon {
		position: absolute;
		top: 50%;
		right: -64px;
		transform: translateY(-50%);
	}
}
