@use '../../foundation/_base.scss' as *;

.c-pagetop {
	position: fixed;
	right: 90px;
	bottom: 240px;
	z-index: 1;

	@media screen and (max-width: 768px) {
		right: 20px;
		bottom: 20px;
	}

	&:hover {
		transform: scale(1.1);
	}
}
