@use '../../foundation/_base.scss' as *;

.c-pagetop {
	position: sticky;
	right: 0;
	bottom: 0;
	opacity: 0;

	&.is-active {
		visibility: visible;
		opacity: 1;
		transition: all 0.3s ease;
	}

	.c-pagetop__link {
		position: absolute;
		right: 100px;
		bottom: 24px;
		display: block;

		@media screen and (max-width: 768px) {
			right: 40px;
			bottom: 40px;
			width: 24px;
			height: 24px;
		}

		&:hover {
			transform: scale(1.1);
		}
	}
}
