@use '../../foundation/_base.scss' as *;

.c-paragraph {
	font-size: $font-size-regular;
	font-weight: $font-weight-medium;
	line-height: 1.5;

	.c-paragraph__loose {
		font-size: $font-line-height-large;
	}

	@media screen and (max-width: 768px) {
		font-size: $font-size-small;
	}
}
