---
import BaseLayout from '../layouts/BaseLayout.astro';
import MV from '../components/mv.astro';
import ContentWrapper from '../components/ContentWrapper.astro';
import Button from '../components/Button.astro';
import Heading from '../components/Heading.astro';
import Card from '../components/Card.astro';
import Text from '../components/Text.astro';

import CardImg from '../assets/images/card_img.jpg';
---

<BaseLayout>
	<MV />
	<ContentWrapper>
		<Heading heading="視点の専門家に聞く" icon="ear" />
		<Text> まちを楽しむには「視点」が必要なのでは？面白いマニアックなまちの見方、楽しめるまちの見方を持っている方々の記事はこちらから。 </Text>
		<div class="l-grid">
			<article class="l-grid__item">
				<Card
					title="たかまる。"
					url="/article"
					image={CardImg}
					description="テキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキスト"
					role="犬山城マイスター"
					date="2023-12-23"
				/>
			</article>
			<article class="l-grid__item">
				<Card
					title="たかまる。"
					url="/article"
					image={CardImg}
					description="テキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキスト"
					role="犬山城マイスター"
					date="2023-12-23"
				/>
			</article>
			<article class="l-grid__item">
				<Card
					title="たかまる。"
					url="/article"
					image={CardImg}
					description="テキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキスト"
					role="犬山城マイスター"
					date="2023-12-23"
				/>
			</article>
		</div>
		<Button url="/article" title="一覧はこちら" />
		<Heading heading="SHITENとは" icon="info" />
		<Text>
			暮らしているまちを楽しむには、どうしたらいいのだろう。<br />
			まちを楽しむには「視点」が必要なのでは？
			<br />
			そのような仮説に基づいて、記事を更新したり、みなさんの
			<br />Instagramでの投稿に基づいてMAP化したりして楽しむまちのポータルメディアです。
		</Text>
		<Heading heading="みんなの視点MAP" icon="map" />
		<Button url="/about" title="詳しくはこちら" />
	</ContentWrapper>
</BaseLayout>
