---
import { Image } from 'astro:assets';
import Logo from '../assets/images/logo.svg';
const today = new Date();
---

<footer class="l-footer">
	
	<div class="p-footer">
		<div class="p-footer__logo">
			<a href="/">
				<Image src={Logo} alt="SHITEN"/>
			</a>
		</div>
		<ul class="p-footer__navigation">
				<li class="p-footer__navigation-item"><a href="/about">About</a></li>
				<li class="p-footer__navigation-item"><a href="/works">Works</a></li>
				<li class="p-footer__navigation-item"><a href="/contact">Contact</a></li>
		</ul>
	</div>
	<p><small>&copy; {today.getFullYear()} SHITEN. All rights reserved.</small></p>
</footer>
<style>
	.l-footer {
		padding: 2em 1em 6em 1em;
		text-align: center;
	}

	.p-footer__navigation{
		display: flex;
		gap:24px;
	}

	.p-footer{
		display: flex;
		justify-content: space-between;
	}
	.social-links {
		display: flex;
		justify-content: center;
		gap: 1em;
		margin-top: 1em;
	}
	.social-links a {
		text-decoration: none;
		color: rgb(var(--gray));
	}
	.social-links a:hover {
		color: rgb(var(--gray-dark));
	}
</style>
