---
import { Image } from 'astro:assets';
import Logo from '../assets/images/logo.svg';
---

<header class="l-header p-header">
	<div class="p-header__title">
		<a href="/">
			<Image src={Logo} alt="SHITEN" />
			<p class="p-header__subtitle">いままで知らなかった、まちの視点</p>
		</a>
	</div>
	<button class="p-hamburger js-hamburgerButton">
		<span class="p-hamburger__bars">
			<span class="p-hamburger__bar p-hamburger__bar--primary"></span>
			<span class="p-hamburger__bar p-hamburger__bar--secondary"></span>
			<span class="p-hamburger__bar p-hamburger__bar--territary"></span>
		</span>
		<span class="p-hamburger__menu">MENU</span>
	</button>
	<ul class="p-header__navigation">
		<ul class="p-header__navigation-list l-section-inner">
			<li class="p-header__navigation-item"><a href="/">HOME</a></li>
			<li class="p-header__navigation-item"><a href="/article">視点の専門家に聞く</a></li>
			<li class="p-header__navigation-item"><a href="/about">SHITENとは</a></li>
		</ul>
		<ul class="p-header__navigation-list p-header__navigation-list--secondary l-section-inner l-flex">
			<li class="p-header__navigation-item p-header__navigation-item--last"><a href="/terms">利用規約</a></li>
			<li class="p-header__navigation-item p-header__navigation-item--last"><a href="/privacy">プライバシーポリシー</a></li>
		</ul>
	</ul>
</header>

<script>
	document.querySelector('.js-hamburgerButton').addEventListener('click', () => {
		document.querySelector('.js-hamburgerButton').classList.toggle('is-active');
		document.querySelector('.p-header__navigation').classList.toggle('is-active');
	});
</script>
