---
import { Image } from 'astro:assets';
import HeaderLink from './HeaderLink.astro';
import { SITE_TITLE } from '../consts';
import Logo from '../assets/images/logo.svg';
---

<header class="l-header">
	<div class="p-header__title">
		<a href="/">
			<Image src={Logo} alt="SHITEN"/>
			<p class="p-header__subtitle">いままで知らなかった、まちの視点</p>
		</a>
	</div>
	<!-- <nav class="p-header__navigation">
		<ul class="p-header__navigation-list">
			<HeaderLink href="/">Home</HeaderLink>
			<HeaderLink href="/blog">Blog</HeaderLink>
			<HeaderLink href="/about">About</HeaderLink>
		</ul>
	</nav> -->
</header>
<style>
	
	h1 {
		margin: 0;
		font-size: 1em;
	}

	h2 a,
	h2 a.active {
		text-decoration: none;
	}

	nav {
		display: flex;
		align-items: center;
		justify-content: space-between;
	}

	nav a {
		padding: 1em 0.5em;
		color: var(--black);
		text-decoration: none;
		border-bottom: 4px solid transparent;
	}

	nav a.is-active {
		text-decoration: none;
		border-bottom-color: var(--accent);
	}

</style>
