---
type Props = {
	className?: string;
	lineHeight?: 'tight' | 'base' | 'loose';
};

const { className, lineHeight = 'base' } = Astro.props;
---

<p class=`c-paragraph  c-paragraph--${lineHeight} ${className}`>
	<slot />
</p>
