.u-relative {
	position: relative;
}

.u-absolute {
	position: absolute;
}

.u-fixed {
	position: fixed;
}

.u-center {
	text-align: center;
}

.u-left {
	text-align: left;
}

.u-right {
	text-align: right;
}
