@for $i from 1 through 18 {
	.u-margin__top#{$i * 8} {
		margin-top: #{$i * 8}px;
	}

	.u-padding__top#{$i * 8} {
		padding-top: #{$i * 8}px;
	}

	.u-margin__bottom#{$i * 8} {
		margin-bottom: #{$i * 8}px;
	}
	.u-padding__bottom#{$i * 8} {
		padding-bottom: #{$i * 8}px;
	}

	@media screen and (max-width: 768px) {
		.u-margin__top--sp#{$i * 8} {
			margin-top: #{$i * 8}px !important;
		}

		.u-padding__top--sp#{$i * 8} {
			padding-top: #{$i * 8}px !important;
		}

		.u-margin__bottom--sp#{$i * 8} {
			margin-bottom: #{$i * 8}px !important;
		}
		.u-padding__bottom--sp#{$i * 8} {
			padding-bottom: #{$i * 8}px !important;
		}
	}
}

.u-margin__inline {
	margin-inline: auto;
}
