.l-section-inner {
	width: 88%;
	max-width: 1210px;
	padding: 0 20px;
	margin: auto;

	@media screen and (max-width: 768px) {
		width: 100%;
	}

	&.l-section-inner--small {
		display: flex;
		width: calc(100% - 400px);
		max-width: 940px;
		margin: inherit;
		margin-right: 140px;
		margin-left: auto;

		@media screen and (max-width: 1024px) {
			width: min(calc(100% - 100px), 88%);
			max-width: inherit;
			margin-right: 50px;
		}

		@media screen and (max-width: 768px) {
			width: 100%;
		}
	}
}
