@use '../foundation/_base.scss' as *;

.l-footer {
	padding-block: 40px 24px;
	text-align: center;
	background-color: $yellow;
}

.p-footer {
	display: flex;
	justify-content: space-between;

	@media screen and (max-width: 768px) {
		flex-direction: column;
	}
}

.p-footer__navigation {
	display: grid;
	grid-template-columns: 1fr 1fr;
	gap: 32px 48px;

	@media screen and (max-width: 768px) {
		grid-template-columns: 1fr;
		margin-top: 56px;
	}
}

.p-footer__navigation-item {
	font-size: $font-size-large;
	text-align: left;

	@media screen and (max-width: 768px) {
		font-size: $font-size-regular;
		text-align: center;
	}

	@media screen and (min-width: 769px) {
		&:hover {
			text-decoration: underline;
		}
	}
}

.p-footer__copyright {
	margin-top: 48px;
}
