@use '../foundation/_base.scss' as *;

.l-grid {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-gap: 32px;

	@media screen and (max-width: 768px) {
		grid-template-columns: repeat(1, 1fr);
	}
}

.l-grid__item {
	display: grid;
}
