@use '../foundation/_base.scss' as *;

.l-grid {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-gap: min(32px, 3vw);

	@media screen and (max-width: 1024px) {
		grid-template-columns: repeat(1, 1fr);
		grid-gap: 8vh;
	}

	&.l-grid--half {
		grid-template-columns: repeat(2, 1fr);

		@media screen and (max-width: 768px) {
			grid-template-columns: repeat(1, 1fr);
		}
	}
}

.l-grid__item {
	display: grid;

	& > img {
		width: 100%;
		height: auto;
	}

	&.l-grid__item--secondary {
		grid-template-rows: subgrid;
		grid-row: span 3;
		gap: 8px;
	}
}
