@use '../foundation/_base.scss' as *;

.l-header {
	position: fixed;
	top: 0;
	left: 0;
	z-index: 1;
	display: flex;
	justify-content: space-between;
	width: 100%;
}

.p-header__title {
	margin-top: 24px;
	margin-left: 24px;

	@media screen and (max-width: 768px) {
		width: 60vw;
		margin-top: 8px;
		margin-left: 4vw;
	}

	img {
		max-width: 90%;
	}
}

.p-header__subtitle {
	margin-top: 8px;
	font-size: $font-size-regular;

	@media screen and (max-width: 768px) {
		margin-top: 0;
		font-size: $font-size-x-small;
	}
}

.p-hamburger {
	position: relative;
	z-index: 2;
	display: inline-flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	width: 80px;
	height: 100svh;
	font-family: $en-font;
	font-size: 36px;
	font-weight: 700;
	line-height: 1;
	letter-spacing: -0.8em;
	background-color: #e7ef61;

	@media screen and (max-width: 1024px) {
		width: 60px;
	}

	@media screen and (max-width: 768px) {
		display: flex;
		flex-direction: row;
		gap: 8px;
		align-items: center;
		width: 120px;
		height: 50px;
		margin-top: 24px;
		margin-right: 16px;
		font-size: 20px;
		letter-spacing: 0;
		border-radius: 50vh;
	}

	.p-hamburger__menu {
		margin-top: 40px;
		line-height: 1;
		writing-mode: vertical-rl;
		text-orientation: upright;

		@media screen and (max-width: 768px) {
			padding-top: 6px;
			margin-top: 0;
			letter-spacing: 0;
			writing-mode: horizontal-tb;
			text-orientation: inherit;
		}
	}

	.p-hamburger__bars {
		display: flex;
		flex-direction: column;
		width: 24px;
		height: 24px;

		@media screen and (max-width: 768px) {
			display: block;
		}
	}

	.p-hamburger__bar {
		display: block;
		width: 24px;
		height: 4px;
		margin-top: 4px;
		background-color: #000;
		transition: transform 0.3s ease-out;
		transform-origin: 1px 1px;
	}

	&.is-active {
		.p-hamburger__bar--primary {
			transform: rotate(45deg);
		}

		.p-hamburger__bar--secondary {
			opacity: 0;
		}

		.p-hamburger__bar--territary {
			transform: rotate(-45deg);
		}
	}
}

.p-header__navigation {
	position: fixed;
	z-index: -1;
	display: none;
	flex-direction: column;
	gap: 72px;
	align-items: center;
	justify-content: center;
	width: calc(100vw - 80px);
	height: 100svh;
	background: #e7ef61;
	opacity: 0;
	transition:
		transform 0.3s ease-in-out,
		opacity 0.3s ease-out;

	@media screen and (max-width: 1024px) {
		width: calc(100vw - 40px);
	}

	@media screen and (max-width: 768px) {
		gap: 40px;
		width: 100%;
	}

	&.is-active {
		display: flex;
		opacity: 1;
	}

	.p-header__decoration {
		position: absolute;
		width: 100px;
		height: 100px;
		opacity: 0;
		transition: opacity 0.3s ease-out;

		&.is-active {
			opacity: 1;
		}

		@media screen and (max-width: 768px) {
			width: 10vw;
			height: 10vw;
		}
	}

	.p-header__decoration--primary {
		top: 20%;
		left: 16px;
	}

	.p-header__decoration--secondary {
		top: 20%;
		right: 16px;
		transition-delay: 0.3s;
	}

	.p-header__decoration--territery {
		top: 50%;
		left: 16px;
		transition-delay: 0.6s;
	}

	.p-header__decoration--quaternary {
		top: 50%;
		right: 16px;
		transition-delay: 0.9s;
	}

	.p-header__decoration--quinary {
		bottom: 5%;
		left: 16px;
		transition-delay: 1.2s;
	}

	.p-header__decoration--senary {
		right: 16px;
		bottom: 5%;
		transition-delay: 1.5s;
	}

	.p-header__navigation-list {
		display: flex;
		flex-direction: column;
		gap: 72px;
		align-items: center;
		justify-content: center;
		padding-inline-start: 0;
		margin-block: 0;

		@media screen and (max-width: 768px) {
			gap: 40px;
		}

		&.p-header__navigation-list--secondary {
			flex-direction: row;

			@media screen and (max-width: 768px) {
				flex-direction: column;
				gap: 40px;
			}
		}
	}

	.p-header__navigation-item {
		a {
			display: flex;
			gap: 16px;
			align-items: center;
			font-size: min(48px, 4.68vw);
			font-weight: 700;
			text-decoration: none;

			@media screen and (max-width: 768px) {
				gap: 8px;
				font-size: 24px;
			}

			@media screen and (min-width: 769px) {
				&:hover {
					text-decoration: underline;
				}
			}
		}

		&.p-header__navigation-item--last {
			a {
				font-size: 24px;
			}
		}
	}

	.p-header__navigation-item-icon {
		width: 40px;
		height: 40px;

		@media screen and (max-width: 768px) {
			width: 4vw;
			height: 4vw;
		}
	}
}

::-webkit-full-page-media,
:future,
:root .p-hamburger {
	letter-spacing: -0.2rem;
}
