@use '../../foundation/_base.scss' as *;

.p-ability {
	counter-reset: number 0;
}

.p-ability__list {
	position: relative;
	counter-increment: number 1;

	&::before {
		position: absolute;
		top: -40px;
		left: -40px;
		font-family: poppins, sans-serif;
		font-size: 64px;
		font-weight: 900;
		letter-spacing: -0.1em;
		content: '0 ' counter(number) ' ';
	}

	@media screen and (max-width: 768px) {
		&::before {
			top: -20px;
			left: -16px;
			font-size: 40px;
		}
	}
}
