@use '../../foundation/_base.scss' as *;

.p-card {
	// display: block;
	display: grid;
	grid-template-rows: subgrid;
	grid-row: span 5;
	gap: 16px;
	width: 100%;
	pointer-events: visible;
	transition: opacity 0.3s ease-in;

	@media screen and (min-width: 769px) {
		&:hover {
			opacity: 0.7;
		}
	}
}

.p-card__image {
	img {
		width: 100%;
		max-height: 215px;
		aspect-ratio: 372/215;
		border-radius: 10px;
		object-position: center;
		object-fit: cover;
	}
}

.p-card__role {
	margin-top: 8px;
}

.p-card__title {
	font-size: $font-size-x-large;
	font-weight: $font-weight-bold;
}

.p-card__compellation {
	font-size: $font-size-regular;
}

.p-card__description {
	margin-top: 16px;
}

.p-card__date {
	margin-top: -8px;
	font-family: $en-font;
	font-size: $font-size-small;
	font-weight: $font-weight-medium;
	text-align: right;
}
