@use '../../foundation/_base.scss' as *;

.p-profile {
	padding: 32px 64px;
	border: 1px solid #000;

	@media screen and (max-width: 768px) {
		padding: 16px;
	}

	a {
		text-decoration: underline;

		&:hover {
			opacity: 0.7;
		}
	}

	.p-profile__wrap {
		gap: 24px;
	}

	.p-profile__left {
		flex-basis: 240px;

		img {
			width: 100%;
		}
	}

	.p-profile__right {
		flex-basis: 505px;
	}

	.p-profile__role {
		font-size: $font-size-large;

		@media screen and (max-width: 768px) {
			font-size: $font-size-regular;
		}
	}

	.p-profile__title {
		font-size: $font-size-xx-large;
		font-weight: 900;

		@media screen and (max-width: 768px) {
			font-size: $font-size-large;
		}

		.p-profile__compellation {
			font-size: $font-size-large;

			@media screen and (max-width: 768px) {
				font-size: $font-size-regular;
			}
		}
	}

	.p-profile__description {
		font-size: $font-size-regular;
	}
}
